.game-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.game-score {
  font-size: 2rem;
  flex: 1;
}

.game-timer {
  font-size: 2rem;
}

/* Play area */

.play-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

  background-color: rgb(190, 125, 125);
}

.cards-container {
  display: flex;
  flex-direction: column;

  width: 700px;
  height: 700px;

  justify-content: center;

  background-color: aqua;
}

.game-row {
  display: flex;
  flex-direction: row;

  min-height: 0;

  justify-content: center;
}

.game-card {
  background-color: maroon;
  overflow: hidden;
  margin: 0.5rem;
}

.game-card * {
  pointer-events: none;
}

.game-card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;

  border: 2px solid black;
}

.hide-card * {
  display: none;
}

.matched-card * {
  border: 2px solid green;
}
