.game-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.game-score {
  font-size: 2rem;
  flex: 1;
}

.game-timer {
  font-size: 2rem;
}

/* Play area */

.play-area {
  display: flex;
  justify-content: center;
  align-items: center;

  flex: 1;
  min-height: 0;

  background-color: rgb(190, 125, 125);
}

.game-board {
  display: flex;
  flex-direction: column;

  width: 800px;
  height: 800px;

  min-height: 0;
  justify-content: center;

  background-color: aqua;
}

.game-row {
  display: flex;
  flex-direction: row;

  min-height: 0;

  justify-content: center;
}
