:root {
  --main: #ddd9d9;
  --cards: #0b97fc;
  --text: #000000;
  --image-background: #e7dfc6;
  --button: #0b97fc;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--text);
}

button {
  color: var(--text);
  background-color: var(--button);
  border: none;
  padding: 10px;
}

#root {
  position: absolute;

  width: 100%;
  min-width: 800px;
  height: 100%;

  background-color: var(--main);

  border: 2px solid black;
}
