.settings {
  display: flex;
  flex-direction: column;

  font-size: 1.2rem;
  gap: 1rem;
}

.category-selection-header,
.difficulty-selection-header {
  text-align: center;
  font-size: 1.5rem;
}

.category-list {
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

.category-card * {
  pointer-events: none;
}

.category-card {
  max-width: 200px;
  cursor: pointer;

  background-color: var(--cards);

  display: flex;
  flex-direction: column;

  border-radius: 5px;
  border: 2px solid black;

  text-align: center;
}

.category-card p {
  padding: 12px;
}

.category-card:hover {
  transform: scale(1.05);
}

.category-card-selected {
  border: 1px solid red;
}

.category-card-selected:hover {
  transform: none;
}

.category-img {
  max-width: 100%;
  max-height: 200px;
  object-fit: cover;
  object-position: center;

  background-color: var(--image-background);

  border-top: 2px solid rgb(54, 47, 47);
  border-bottom: 2px solid rgb(54, 47, 47);
}

.difficulty-btn {
  border-radius: 8px;
}

.selected-btn {
  border: 2px solid red;
}

.difficulty-btn-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  padding: 1rem;
}

.difficulty-description {
  text-align: center;
}
